@font-face {
  font-family: "Roboto-Black";
  src: url("~static/fonts/Roboto-Black.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("~static/fonts/Roboto-Bold.ttf") format("truetype");
  font-display: auto;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("~static/fonts/Roboto-Light.ttf") format("truetype");
  font-display: auto;
}


// Colors
$color-white: #fff;
$color-black: #000;
$color-main: #4169e1;

// Fonts
$font-roboto-black: 'Roboto-Black', sans-serif;
$font-roboto-bold: 'Roboto-Bold', sans-serif;
$font-roboto-light: 'Roboto-Light', sans-serif;

// Radius
$radius-xl: 20px;
$radius-m: 10px;
$radius-xs: 5px;

// Shadows
$shadow-m: 0 0 10px rgba(0, 0, 0, 0.2);
$shadow-xl: 0 0 20px rgba(0, 0, 0, 0.2);

// Spacing
$spacing-xl: 20px;
$spacing-m: 10px;